* {
    border-radius: 7px;
    background-color: #EDF4F2;
    max-width: 950px;
    margin: auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
article {
border: 6px solid #31473A;
padding: 0px;
padding-bottom: 2px;
text-align: center;

}
footer {
    margin-top: 15px;
    border: solid 5px #31473A;
}
 
h1 {
    text-align: center;
}
li {
    float: left;
    margin-left: 165px;
}
a {
    display: block;
    padding: 8px;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #31473A;

}
li a {
    border-radius: 0px;
    margin: 0px;
    display: block;
    color: white;
 text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #31473A;
}
li a:hover {
    background-color: black;
}
.active {
    background-color: black
}
img {
    max-width: 300px;
}
.mylove {
overflow: scroll;
max-height: 500px;
max-width: 400px;
justify-content: right;
margin-left: 450px;
font-size: 18px;
}
.memyselfandi {
    overflow: scroll;
    max-height: 320px;
    max-width: 900px;
    font-size: 18px;
}

footer {
    margin-bottom: 50px;
}
.image {
    max-width: 350px;
    border: 0px;
}
.whoami {
    margin-top: 10px;
    margin-bottom: 10px;
}
#articleabtme {
    margin-left: 50px;
    max-width: 400px;
}
#imageone {
float: right;
margin-right: 80px;
margin-top: 80px;
}
#mylovee {
    margin-top: 10px;
    margin-bottom: 20px;
}
#footer {
    margin-top: 50px;
}
#imagetwo {
    float: left;
    margin-left: 70px;
    margin-top: 100px;
}
.menmaddy {
    margin-top: 5px;
    margin-bottom: 5px;
}
